html {
  font-size: 15px;
  font-family: 'Arial', sans-serif;
}

.topnav {
  background-color: black
  overflow: hidden
}
/*Styles links inside nav bar*/
.topnav a {
  float: right;
  text-decoration: none;
}
